.slide-show-image {
  max-width: 170px;
  max-height: 110px;
}

.w3-content {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.demo {
  height: 50px;
  background-color: #f2f2f2;
  width: auto;
  text-align: center;
}


.media {
  max-width: 300px !important;
}

