<div class="container-donation" id="work">
  <div class="donation">
    <div class="row">
      <div class="card-donation">PIX: {{pix}}</div>
    </div>
    <div class="row">
      <h3 class="center" style="font-weight: bold">
        Por favor envie o comprovante do PIX para o nosso e-mail ou WhatsApp
      </h3>
    </div>

    <div class="row">
      <p>
        Gostaríamos de expressar nossa mais profunda gratidão pela sua
        generosidade e solidariedade. O seu gesto de apoio irá fazer uma
        diferença real e significativa na vida daqueles que enfrentam
        dificuldades neste momento tão desafiador.
      </p>

      <p style="font-weight: bold">
        Para ajudar-nos a manter nossos registros atualizados gostariámos de
        pedir o recibo do PIX da doação feita. Isso nos permitirá reconhecer
        oficialmente a sua contribuição e garantir que ela seja devidamente
        registrada.
      </p>

      <p>Por favor, envie o comprovante para o e-mail:</p>

      <p style="font-weight: bold">
        E-mail: administrador@adoteumafamiliars.com.br
      </p>
      <p style="font-weight: bold">
        WhatsApp: (11) 9 7616-8585
      </p>

      <p>
        Mais uma vez, obrigado por estender sua mão para uma família atingida
        pelas enchentes.
      </p>
    </div>
  </div>
</div>
