<div class="banner">
  <div class="content">
    <div class="row">
      <div class="col-5">
        <p class="title">
          Ajude famílias do Rio grande do Sul atingidas pelas enchentes a
          escreverem um novo capítulo de sua história
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-button class="button-help">
         <a href="#work">Conheça as iniciativas e reconstrua vidas</a>
        </button>
      </div>
    </div>
  </div>
</div>
<!--
<div class="options">
  <p class="sub-title">Nosso movimento de solidariedade e união</p>

  <div class="row">
    <div class="col-3">
      <div class="row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="44px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M720-720q-33 0-56.5-23.5T640-800q0-33 23.5-56.5T720-880q33 0 56.5 23.5T800-800q0 33-23.5 56.5T720-720ZM680-80v-320q0-40-20.5-72T607-522l35-103q8-25 29.5-40t48.5-15q27 0 48.5 15t29.5 40l102 305H800v240H680ZM500-500q-25 0-42.5-17.5T440-560q0-25 17.5-42.5T500-620q25 0 42.5 17.5T560-560q0 25-17.5 42.5T500-500ZM220-720q-33 0-56.5-23.5T140-800q0-33 23.5-56.5T220-880q33 0 56.5 23.5T300-800q0 33-23.5 56.5T220-720ZM140-80v-280H80v-240q0-33 23.5-56.5T160-680h120q33 0 56.5 23.5T360-600v240h-60v280H140Zm300 0v-160h-40v-160q0-25 17.5-42.5T460-460h80q25 0 42.5 17.5T600-400v160h-40v160H440Z"
          />
        </svg>
      </div>
      <div class="row title-options">
        Famílias indicadas pela comunidade local
      </div>
      <div class="row sub-title-options">
        Você proporcina ajuda imediata e direta às famílias, sem a necessidade
        de intermediários.
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="44px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M720-720q-33 0-56.5-23.5T640-800q0-33 23.5-56.5T720-880q33 0 56.5 23.5T800-800q0 33-23.5 56.5T720-720ZM680-80v-320q0-40-20.5-72T607-522l35-103q8-25 29.5-40t48.5-15q27 0 48.5 15t29.5 40l102 305H800v240H680ZM500-500q-25 0-42.5-17.5T440-560q0-25 17.5-42.5T500-620q25 0 42.5 17.5T560-560q0 25-17.5 42.5T500-500ZM220-720q-33 0-56.5-23.5T140-800q0-33 23.5-56.5T220-880q33 0 56.5 23.5T300-800q0 33-23.5 56.5T220-720ZM140-80v-280H80v-240q0-33 23.5-56.5T160-680h120q33 0 56.5 23.5T360-600v240h-60v280H140Zm300 0v-160h-40v-160q0-25 17.5-42.5T460-460h80q25 0 42.5 17.5T600-400v160h-40v160H440Z"
          />
        </svg>
      </div>
      <div class="row title-options">
        Doações diretas para aqueles que mais precisam
      </div>
      <div class="row sub-title-options">
        Conectamos você com às famílias identificadas por uma equipe de
        voluntários locais, garantindo que as doações cheguem na outra ponta.
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="44px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M720-720q-33 0-56.5-23.5T640-800q0-33 23.5-56.5T720-880q33 0 56.5 23.5T800-800q0 33-23.5 56.5T720-720ZM680-80v-320q0-40-20.5-72T607-522l35-103q8-25 29.5-40t48.5-15q27 0 48.5 15t29.5 40l102 305H800v240H680ZM500-500q-25 0-42.5-17.5T440-560q0-25 17.5-42.5T500-620q25 0 42.5 17.5T560-560q0 25-17.5 42.5T500-500ZM220-720q-33 0-56.5-23.5T140-800q0-33 23.5-56.5T220-880q33 0 56.5 23.5T300-800q0 33-23.5 56.5T220-720ZM140-80v-280H80v-240q0-33 23.5-56.5T160-680h120q33 0 56.5 23.5T360-600v240h-60v280H140Zm300 0v-160h-40v-160q0-25 17.5-42.5T460-460h80q25 0 42.5 17.5T600-400v160h-40v160H440Z"
          />
        </svg>
      </div>
      <div class="row title-options">Visibilidade da transformação</div>
      <div class="row sub-title-options">
        Você consegue ver o impacto da sua doação na vida das famílias. Cada
        contribuição ajuda a reconstruição de vidas e comunidades.
      </div>
    </div>
  </div>
</div> -->

<div id="intro" class="section scrollspy">
  <div class="container">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <h3 class="center card-title">
          Nosso movimento de solidariedade e união
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <img src="assets/img/balao.svg" alt="">
          <h5 class="promo-caption">
            Famílias indicadas pela comunidade local
          </h5>
          <p class="light center">
            Você proporcina ajuda imediata e direta às famílias, sem a
            necessidade de intermediários.
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <img src="assets/img/familia.svg" alt="">

          <h5 class="promo-caption">
            Doações diretas para aqueles que mais precisam
          </h5>
          <p class="light center">
            Conectamos você com às famílias identificadas por uma equipe de
            voluntários locais, garantindo que as doações cheguem na outra
            ponta.
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <img src="assets/img/segurança.svg" alt="">

          <h5 class="promo-caption">Visibilidade da transformação</h5>
          <p class="light center">
            Você consegue ver o impacto da sua doação na vida das famílias. Cada
            contribuição ajuda a reconstruição de vidas e comunidades.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
