<footer id="contact">
  <h3 class="center">Ficou com alguma dúvida?</h3>

  <p class="center">Entre em contato com a gente</p>

  <div class="contact">
    <div class="center card-contact">
      <a href="https://api.whatsapp.com/send?phone=5511976168585"
        >WhatsApp: (11) 9 7616-8585</a
      >
    </div>
    <div class="center card-contact">Email: administrador@adoteumafamiliars.com.br</div>
    <img
      src="assets/img/bandeira.webp"
      alt=""
      width="60px"
      style="margin-top: 10px"
    />
    <p class="center">#juntospeloRioGrandedoSul</p>
  </div>
  <p>© 2024 Adote uma família RS. Todas os direitos reservados.</p>
</footer>
